.bg-bend {
  background-color: #386aff;
}

.sidebar a {
  color: #fff !important;
}

.eq-column {
  height: -moz-calc(100vh - 57px);
  height: -webkit-calc(100vh - 57px);
  height: -o-calc(100vh - 57px);
  height: calc(100vh - 57px);
}

.shadow-left {
  box-shadow: 5px 0 10px 0 hsla(219, 9%, 50%, 0.15);
  z-index: 1;
}

.shadow-top {
  box-shadow: 0px -6px 10px 0 hsla(219, 9%, 50%, 0.15);
  z-index: 1;
}

.oy-a {
  overflow-y: auto;
}

.sidebar .nav-link.active {
  border-radius: 0;
  background-color: #f1f1f1 !important;
  color: #386aff !important;
}

.form-group-compact div {
  margin: 0;
  padding: 0;
}

.form-group-compact input {
  border-radius: 0;
  border: 0;
}

.form-group-compact input:focus {
  border-color: #ced4da;
  box-shadow: none;
  outline: 0 none;
}

.form-group-compact .first input {
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
}

.form-group-compact .first div:first-child input {
  border-left: 0;
}

.form-group-compact .middle input {
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
}

.form-group-compact .middle div:first-child input {
  border-left: 0;
}

.form-group-compact .last input {
  border-left: 1px solid #ced4da;
}

.form-group-compact .last div:first-child input {
  border-left: 0;
}

/*
  ICONS
*/

.icon {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
}

.icon-add-waypoint,
.remove-waypoint,
.icon-swap {
  background-image: url(/images/sprite.png);
  background-repeat: no-repeat;
}

.icon-container {
  position: relative;
  height: 38px;
  margin-left: 7px;
}

.icon-container a {
  font-size: 14px;
  color: #333;
  position: absolute;
  display: block;
  z-index: 1;
  top: 50%;
  margin-top: -9.5px;
  cursor: pointer;
  border-color: #ced4da;
  box-shadow: none;
  outline: 0 none;
}

.icon-swap {
  background-position: -381px -114px;
}

.icon-add-waypoint {
  background-position: -426px -38px;
}

.vertical-line,
.vertical-line-right {
  position: absolute;
  width: 1px;
  background: #a3a3a3;
  height: 100%;
  z-index: 0;
  top: 0;
}
.vertical-line {
  left: 9px;
}

/*
  TOGGLE SWITCH
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #386aff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #386aff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-container {
  line-height: 35px;
}

.switch-container > span {
  cursor: pointer;
  border-color: #ced4da;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 none;
  padding-left: 5px;
}
